/*Grid-Layout Bereich*/

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 40px 1fr;
    grid-template-columns: 180px 1fr;
    grid-template-areas: "header header" "sidebar content";
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header {
    grid-area: header;
    background-color: black;
}

sidebar {
    grid-area: sidebar;
    background-color: #424242;
}

content {
    grid-area: content;
    background-color: #F2F2F2;
}


/*Mittiger Bereich der ToDo-Listen*/

#board_area {
    position: relative;
    margin: 4em 1em;
    max-width: 270px;
    background-color: white;
    padding: 6px;
}

.box_list {
    max-width: 270px;
    height: auto;
    padding: 6px;
    display: table;
}

#meineListe {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 6px;
    list-style-type: none;
    background-color: white;
}

input {
    margin-left: -3px;
    margin-right: 22px;
    border: none;
    padding: 6px 3px;
    float: left;
    width: 200px;
}

#addButton {
    width: 28px;
    padding: 7px 1px;
    float: right;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 0;
}

#addButton:hover {
    background-color: #bbb;
}

.close {
    position: absolute;
    right: 8px;
    top: 0;
    padding: 8px 1px;
    width: 28px;
    text-align: center;
}

.close:hover {
    background-color: black;
    color: white;
}