.grid-container {
    display: grid;
    grid-template-columns: 0.1fr 1.2fr;
    grid-template-rows: 0.1fr 1.2fr;
    grid-template-areas: "Header Header" "Sidebar Content";
}

.Header {
    grid-area: Header;
}

.Sidebar {
    grid-area: Sidebar;
}

.Content {
    grid-area: Content;
}